*
!core/
core/*
!core/images/
core/images/*
!core/images/project-workspace/
!core/images/project-workspace/**
!core/images/project-workspace-podman/
!core/images/project-workspace-podman/**
!core/packages/
core/packages/*
!core/packages/controller-proxy/
core/packages/controller-proxy/*
!core/packages/controller-proxy/dist/
!core/packages/controller-proxy/dist/**
